@model IEnumerable<IdentityRole>

<a class="btn btn-primary" asp-action="Create">Create</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model)
        {
            <tr>
                <th scope="row">@p.Id</th>
                <td>@p.Name</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-name="@p.Name">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-name="@p.Name" 
                    onclick="return confirm('Are you sour?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>