@model IEnumerable<Category>

<a class="btn btn-primary" asp-action="Add">Add</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var p in Model)
            {
                <tr>
                    <th scope="row">@p.Id</th>
                    <td>@p.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@p.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@p.Id"
                           onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>