@{
    ViewData["Title"] = "Home Page";
    int Id = 1;
}

<div class="text-center">
    <h1 class="display-4">Hello Dr.Godon Welcome to the black Mesa unit No.@Id</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
